* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url(../../Fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF);
}

@font-face {
  font-family: 'SF-Pro-Display1';
  src: url(../../Fonts/SFPRODISPLAYBOLD.OTF);
}

@font-face {
  font-family: 'SF-Pro-Display2';
  src: url(../../Fonts/SFPRODISPLAYLIGHTITALIC.OTF);
}

@font-face {
  font-family: 'SF-Pro-Display3';
  src: url(../../Fonts/SFPRODISPLAYTHINITALIC.OTF);
}

:root {
  --primary-color: #5468E7;
  --dark-color: #232340;
  --text-body-color: #8B8B8B;
  --bg-icon-color: #C897E4;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 10vh;
  position: fixed;
  margin-top: 50px;
  left: 0;
  top: 0;
}

header .container {
  height: 100%;
  width: 80vw;
}

header .container .logo {
  width: 140px;
  height: 40px;
  margin: auto 0px;
}

header .container .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

header .container nav {
  margin: auto 0px;
}

header .container nav .list-item .nav-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: auto 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-family: 'SF-Pro-Display1';
  color: var(--text-body-color);
}

header .container nav .list-item .nav-link.active {
  color: var(--primary-color);
}

header .container nav .navigation {
  position: relative;
}

header .container nav .navigation-number {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(10deg, #0837ae 10%, #3a8fff 100%) !important;
}

header .container .contact-btn {
  width: 180px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--dark-color);
}

header .container .contact-btn a {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SF-Pro-Display1';
}

header.scroll-header {
  z-index: 999;
  width: 100%;
  position: fixed;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  background-color: #fff;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-transition: 0.7s all ease-in-out;
  transition: 0.7s all ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }
}
/*# sourceMappingURL=header.css.map */